* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(230, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parentCalDiv {
    height: 500px;
    width: 300px;
    box-shadow: 4px 4px 30px rgb(31, 27, 27);
    border-radius: 12px;
    background: #222520;
    overflow: hidden;
}

.screen{
    width: 100%;
    height: 150px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 1rem;
    font-size: 2rem;
    text-align: right;
    background: grey;
}

button{
    flex: 0 0 22%;
    border: 1px solid #000;
    margin: 5px 0;
    height: 52px;
    width: 60px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.btn-yellow{
    background: rgb(224, 209, 37);
    color: white;
}

.btn-grey{
    background: rgb(224 224,224);
}
.btn-equal{
    background: rgb(65, 232, 65);
}